.header 
    .container
        .row.align-items-center
            .col-lg-3.col-md-3.col-sm-12
                .inner-logo.d-flex.align-items-center
                    a(href="/" class="d-flex align-items-center")
                        .img-logo
                            img(src="/client/images/cat-logo-3.jpg", alt="Cat Logo")
                        h1(class="mx-3") Cat Chat
            .col-lg-6.col-md-9.col-sm-12
                if (user)
                    .friend-action
                        ul(class="nav-menu")
                            li
                                a(href="/" class=(page && page=="home"? "menu-text-aqua": "") ) Home
                            li
                                a(href="/friend/list" class=(page && page=="friend-list"? "menu-text-aqua": "")) Friend
                            li
                                a(href="/friend/add" class=(page && page=="add"? "menu-text-aqua": "")) Add 
                            li
                                a(href="/friend/request" class=(page && page=="accept"? "menu-text-aqua": "") id="accept-friend-nav") Request
                                    if (user.acceptFriendsList.length > 0)
                                        span #{user.acceptFriendsList.length}
                            li
                                a(href="/chat/stranger" class=(page && page=="quick-chat"? "menu-text-aqua": "")) Quick Chat
            .col-lg-3.col-md-12
                if (user)
                    div(user-id=user.id)
                    .inner-user                                   
                        span(class="me-3 header-username") #{user.fullName}
                        div(class="avatar")
                            img(src= user.avatar)
                        ul(class="list-action")
                            li 
                                a(href="javascript:;" open-user-box) <i class="fa-regular fa-user me-2"></i> Account  
                            li 
                                a(href="/user/logout") <i class="fa-solid fa-right-from-bracket me-2"></i> Logout 
                            
                else 
                    .inner-login
                        a(href="/user/login" class="login-btn") 
                            <i class="fa-regular fa-user me-2"></i>
                            span Login
                        a(href="/user/register" class="register-btn") 
                            <i class="fa-solid fa-user-plus me-2"></i>
                            span Register 

                    
