.header 
    .container
        .row.align-items-center
            .col-3
                .inner-logo.d-flex.align-items-center
                    a(href="/" class="d-flex align-items-center")
                        .img-logo
                            img(src="/client/images/cat-logo-3.jpg", alt="Cat Logo")
                        h1(class="mx-3") Cat Chat
            .col-5
                if (user)
                    .friend-action(class="text-end") 
                        a(href="/friend/list" class="friend-list btn btn-warning me-3") Bạn bè
                        a(href="/friend/add" class="send-add-friend btn btn-primary me-3") Kết bạn
                        a(href="/friend/accept" class="friend-request btn btn-success me-3") Lời mời kết bạn
                            if (user.acceptFriendsList.length > 0)
                                span #{user.acceptFriendsList.length}
                        a(href="/chat/stranger" class="stranger-chat btn btn-light") Stranger Chat 
            .col-4
                if (user)
                    .inner-user
                        div(class="d-flex align-items-center justify-content-end")                                   
                            span(class="me-3") #{user.fullName}
                            div(class="avatar")
                                if (user.gender == "male")
                                    img(src="/client/images/male-default.png", alt="default-male")
                                else 
                                    img(src="/client/images/female-default.png", alt="default-female")
                            ul(class="list-action")
                                li 
                                    a(href="/") <i class="fa-regular fa-user me-2"></i> Tài khoản 
                                li 
                                    a(href="/") <i class="fa-solid fa-gear me-2"></i> Cài đặt 
                                li 
                                    a(href="/user/logout") <i class="fa-solid fa-right-from-bracket me-2"></i> Đăng xuất 
                            
                else 
                    .inner-login.text-end
                        a(href="/user/login") 
                            <i class="fa-regular fa-user me-2"></i>
                            span Đăng nhập

                    
