
.test-account-box{
    top: 50%;
    transform: translateY(-50%);
    color: white;
    border: 1px solid #ddd;
    padding: 15px;
    margin-top: 120px;
    border-radius: 20px;
}
.test-account-box >h3{
    border-bottom: 1px solid #ddd;
    margin-bottom: 10px;
}
.test-account-box .test-account{
    margin-bottom: 10px;
}