extends ../../layouts/default.pug

block main 
    div(class="main text-center")
        h1(class="text-white py-5") Quick Chat
        a(href="/chat/stranger/queue" class="btn btn-primary btn-lg") Search