extends ../../layouts/default.pug

block main 
    div(class="main text-center mt-5")
        h1(class="text-white mb-5") Quick Chat
        a(href="/chat/stranger/queue" class="btn btn-primary btn-lg") Search