//- header.header 
//-     .container-fluid 
//-         .row.align-items-center 
//-             .col-3 
//-                 .inner-logo 
//-                     a(href="/admin/dashboard") CAT CHAT ADMIN
//-             .col-9.text-end 
//-                 a(href="/admin/auth/home" class="header-email") #{account.email}
//-                 if(account.role == "all")
//-                     span(class="badge bg-primary ms-1") Toàn quyền
//-                 else
//-                     span(class="badge bg-success ms-1") Quản lý
//-                 a(href="/admin/auth/logout" class="btn btn-danger ms-4") Đăng xuất

